[Unit]
Description= Blink LED
After=multi-user.target
[Service]
ExecStart=/home/sel/SEL0337---Projetos-em-Sistemas-Embarcados-Pratica-5/blink.sh
user=sel
[Install]
WantedBy=multi-user.target
